extends ../../../views/layout

block content
	form(action='/register', method='post', role="form")
		.form-group
			label(for='email')
				| Email: 
			input(id='email',type='text', name='user[email]')
		.form-group
			label(for='firstName')
				| First Name: 
			input(id='firstName',type='text', name='user[firstName]', placeholder='first name')
		.form-group
			label(for='lastName')
				| Last Name: 
			input(id='lastName',type='text', name='user[lastName]', placeholder='last name')
		.form-group
			label(for='password')
				| Password: 
			input(id='password', type='password', name='user[password]')		
		input(type='submit', class='btn btn-default')