extends ../../../views/layout

block content
	.row
		.col-md-12
			h1 Inventory
	.row
		.col-md-3
			.list-group
				a(href='#', class='list-group-item active') Lorem Ipsum
				a(href='#', class='list-group-item') Sit Dolor Amet
				a(href='#', class='list-group-item') Gem
				a(href='#', class='list-group-item') Gem
				a(href='#', class='list-group-item') Sit Dolor Amet
		.col-md-9
			p this is test text

	